<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadoras Glamourosas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container menu-container">
        <h1 class="menu-title">Barbie</h1>
        <h2 class="menu-subtitle">Calculadoras Glamourosas</h2>
        
        <a href="{{ url_for('page_bissecao') }}" class="menu-button">
            💖 Método da Bisseção
        </a>
        <a href="{{ url_for('page_newton') }}" class="menu-button">
            ✨ Método de Newton-Raphson
        </a>
    </div>
</body>
</html>